<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @keyword.word %>
</p>

  <h2>Latest Tweets</h2>
  <% @keyword.tweets.each do |tweet| %>
    <p><img src="<%= tweet.user_image_url %>"/><%= tweet.user_screen_name %>: <%= tweet.text %></p>
  <%end%>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
